body {
  text-align: center;
  font-size: 30px;
  padding: 30px;
  background-color: #1E2025;
  color: #fff;
}

.wrapper form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.app-logo {
  display: block;
  margin: 10px auto 20px auto;
  max-width: 60px;
}

.wrapper form img {
  max-width: 50px;
}

.wrapper form input {
  background-color: #000;
  color: #61DAFB;
  border: 1px solid #005167;
  font-size: 22px;
  padding: 10px 15px;
  flex: 1;
  border-radius: 4px;
}

.wrapper form button {
  border: 1px solid #000;
  font-size: 22px;
  padding: 10px 20px;
  background-color: #61DAFB;
  color: #000;
  cursor: pointer;
  border-radius: 4px;
}

.wrapper form button:hover {
  opacity: 0.8;
}

.response-area {
  font-size: 20px;
  max-width: 1100px;
  display: block;
  margin: 50px auto 0 auto;
}

.footer {
  font-size: 14px;
  letter-spacing: 4px;
  margin: 50px 0 40px 0;
  opacity: 0.5;
}

.cg-logo.loading {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}